<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>INICIO</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <h1>Administração</h1>
    <a href="admin/categoria/lstcategoria" class="link-botao vermelho"
      >Categorias</a
    >
    <a href="admin/usuario/lstusuario" class="link-botao amarelo">Usuários</a>
    <a href="admin/produto/lstproduto" class="link-botao vermelho">Produtos</a>

    <a href="admin/destaques/lstdestaques" class="link-botao amarelo"
      >Destaques</a
    >
  </body>
</html>
