<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=for, initial-scale=1.0" />
    <title>USUARIOS</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <h1>EDITAR USUARIO</h1>
    <form action="" , method="post">
      <label for="">Nome</label>
      <input type="text" value="<%=Usuario.nome%>" name="nome" /><br />
      <label for="">Email</label>
      <input type="email" value="<%=Usuario.email%>" name="email" /><br />
      <label for="">Senha</label>
      <input type="password" value="<%=Usuario.senha%>" name="senha" /><br />
    
      <br />
      <div class="espaco-botao">
        <a href="/admin/usuario/lstusuario" class="botao padrao"> Voltar</a>
        <button type="submit" value="Salvar" class="botao salvar">
          Salvar
        </button>
      </div>
    </form>
  </body>
</html>
