<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categorias</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <h1>Adicionar Categoria</h1>

    <form method="post">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" required /><br />

      

      <br />
      <div class="espaco-botao">
        <a href="/admin/categoria/lstcategoria" class="botao padrao">Voltar</a>
        <button type="submit" class="botao salvar">Salvar</button>
      </div>
    </form>
  </body>
</html>
